<style>
   nav{
  background: #fff;
  height: 80px;
  line-height: 80px;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
   }

   a:link{
      text-decoration: none;
   }
   a{
      text-decoration: none;
       color: #FF7463;
       font-size: 32px;
   }
   a:hover{
      color: black;
   }


</style>


<div class="navbar">
    <header>
       <nav>
          <div class="logo">
             <a href="/">
               TAXIFY
            </a>
          </div>
          <div class="menu">
             <ul>
                <li class="nav-item"><a href="/cab/new">Book</a></li>
                <li class="nav-item"><a href="#">About Us</a></li>
                <% if(!currentUser){ %>
                <li class="nav-item"><a href="/login">Login</a></li>
                <li class="nav-item"><a href="/register">Signup</a></li>
                <% }else{ %>
                <li class="nav-item"><a href="/cust/dashboard/<%= currentUser.id%>"><%= currentUser.name %></a></li>
                <li class="nav-item"><a href="/cust/logout">Logout</a></li>

                <% } %>
             </ul>
          </div>
       </nav>
    </header>
 </div>

 <script type="text/javascript" src="/js/nav.js"></script>